<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>記事のタイトル | Toriyama Jitensya Co.,Ltd.</title>
	<script type="application/ld+json">[object Object]</script>
	<link rel="stylesheet" href="../style.css" />
</head>
<body>
	<header>
		<h1><a href="../">Toriyama Jitensya Co.,Ltd.</a></h1>
	</header>
	<main>
		<h1 class="title">記事のタイトル</h1>
		<p>2021-10-27(更新:2021-10-28)</p>
		<article>
			<h1>記事のテンプレート</h1>
<p>本文を書きます</p>
<h2>サブタイトル</h2>
<ul>
<li>箇条書き
<ul>
<li>リスト</li>
<li>リスト</li>
<li>リスト</li>
</ul>
</li>
<li>箇条書き
<ul>
<li>リスト</li>
</ul>
</li>
</ul>
<p><a href="https://github.com/yuukitoriyama">リンク</a></p>
<p><img src="./sample.jpg" alt="画像"></p>

		</article>
	</main>
	<footer>
		<nav>
			<ul>
				<li><a href="../">Home</a></li>
				<li><a href="https://github.com/yuukitoriyama">GitHub</a></li>
				<li><a href="https://twitter.com/CoconMap">Twitter</a></li>
			</ul>
		</nav>
		<small>bicycle.toriyama.dev is maintaied by <a href="github.com/YUUKIToriyama">Torichan</a></small>
	</footer>
</body>
</html>